<div class="container flex-row justify-content-center">

  <h1 class="text-center"> Lista de clientes </h1>

  <table class="table text-white mt-lg-5">
    <thead>
      <tr>
        <th> Nombre </th>
        <th> Apellido </th>
        <th> Email </th>
        <th> Fecha </th>

      </tr>
    </thead>

    <tbody>
      <tr>
        <td> Daniel Alberto </td>
        <td> Rojas Zavala </td>
        <td> daniel@correo.com </td>
        <td> Fecha </td>

      </tr>
    </tbody>
  </table>

</div>

